<link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.css">
EDITOR
<BR>
<div class="container">   
<div ng-controller="EditorController">
  
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" ng-click="addItem()">Add</button>
     <div class="row h3">
          <div class="col-md-3">Nombre</div>
          <div class="col-md-3">CUENTA</div>
          <div class="col-md-3"></div>
     </div>
 
        <div class="row" ng-repeat="item in items">
          <div class="col-md-3" ng-bind="item.nombre"></div>
          <div class="col-md-3" ng-bind="item.perfil.nombre"></div>
          <div class="col-md-3">  
           <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" ng-click="editItem(item)">Edit</button>
           <button class="btn" ng-click="removeItem(item)">Remove</button></div>
        </div>
 
 
 
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-show="displayForm">
  <div class="modal-dialog">
    <div class="modal-content">      
      <div class="modal-body">
       
          <div class="form-group">  
          <input type="text" ng-model="editor.nombre"  class="form-control" placeholder="Nombre"/></div>
          <input type="text" ng-model="editor.IDCuenta"  class="form-control" placeholder="IDCuenta"/></div>
          <div class="form-group"></div>          
      
      </div>
      <div class="modal-footer">       
         <button class="btn btn-primary" ng-click="saveItem()">Save</button>
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  
</div>
</div>
</div>